@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.head{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

header span{
    padding: 1rem;
    font-size: 2.5rem;
    color: rgb(150, 150, 226);
    font-weight: bolder;
    letter-spacing: 1rem;
}

#display-color{
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#color-p{
    color: azure;
    background-color: black;
    /* width: 35%; */
    padding: .5rem;
    border-radius: 15px;
    letter-spacing: 2px;
    font-size: 30px;
}

.click-me{
    margin-top: 22px;
    letter-spacing: 2px;
    margin-left: 48%;
    padding: .75rem;
    border-radius: 5px;
    font-weight: bold;
    background-color: inherit;
}

.click-me:hover{
    background-color: black;
    border-color: aquamarine;
    color: white;
    cursor: pointer;
}


